<div class="row" style="padding-bottom: 5px">
  <div class="col-xs-2 col-sm-2 col-md-2"><%= game.room_code %></div>
  <div class="col-xs-5 col-sm-6 col-md-5"><%= game.matchup %></div>
  <div class="col-xs-2 col-sm-2 col-md-2"><%= game.status %></div>
    <div class="col-xs-3 col-sm-2 col-md-3" style="padding-top: 2px">
    <% if signed_in? %> 
        <% if game.respond_to?(:joined_game) && game.joined_game %> 
          <%= link_to "Enter Room", "" %>
        <% else %>
           <%= link_to "Join", game_nickname_path(game), remote: true, id: "class: "btn btn-primary" %>
        <% end %>
    <% else %>
      <%= link_to "Enter Guest Mode", "" %>
    <% end %>
    </div>
</div>


