<div class="card border-primary mb-3">
  <div class="card-body">
    <span class="badge badge-pill badge-primary float-right m-2 "><%= game.status %></span>
    <h5 class="card-title"><%= game.room_code %></h5>
    <p class="card-text"><%= game.matchup %></p>
    <% if signed_in? %> 
        <% if game.respond_to?(:joined_game) && game.joined_game %> 
          <%= link_to "Enter Room", root_path + "##{game.room_code}", :onclick => 'location.reload()' %> - <%= game.player_name %>
        <% else %>
           <%= link_to "Join", game_nickname_path(game), remote: true, id: "join-btn", class: "btn btn-primary" %>
        <% end %>
    <% else %>
      <%= link_to "Enter Guest Mode", root_path + "##{game.room_code}", :onclick => 'location.reload()' %>
    <% end %>
  </div>
</div>
